.cart_button_container
{
  position:absolute;
  top: 20px;
  right: 25px;
  
}
.cart_button{
  
  align-self: flex-end;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 50px;
  color: violet;
  transition: 0.2s;
  margin-left: 5px;
}
.cart_button:hover{
  cursor: pointer;
  color: rgb(255, 50, 255);
}